{% extends 'base.html.twig' %}

{% block title %}Ajouter Permission{% endblock %}

{% block body %}
    <div class="fox">
        <center>
            <section class="section">
                <div class="row-cols-8">
                    <div class="row-cols-lg-2">
                        <div class="card">
                            <div class="card-body">


                                {# {{ form (f) }}#}
                                {{ form_start(f,{'attr':{'novalidate':'novalidate'}}) }}   <form>
                                    <table>
                                        <tr>
                                            <td> {{ form_label(f.id,"Identifiant ")}} </td>
                                            <td> {{ form_widget((f.id)) }} </td>
                                            <td> {{ form_errors((f.id)) }} </td>
                                        </tr>
                                        <tr>
                                            <td> {{ form_label(f.type,"Type de la permission")}} </td>
                                            <td> {{ form_widget((f.type)) }} </td>
                                            <td> {{ form_errors((f.type)) }} </td>
                                        </tr>
                                        <tr>
                                            <td> {{ form_label(f.reclamation,"Réclamation")}} </td>
                                            <td> {{ form_widget((f.reclamation)) }} </td>
                                            <td> {{ form_errors((f.reclamation)) }} </td>
                                        </tr>
                                        <tr>
                                            <td> {{ form_label(f.dateD,"Date début")}} </td>
                                            <td> {{ form_widget((f.dateD)) }} </td>
                                            <td> {{ form_errors((f.dateD)) }} </td>
                                        </tr>
                                        <tr>
                                            <td> {{ form_label(f.dateF,"Date fin")}} </td>
                                            <td> {{ form_widget((f.dateF)) }} </td>
                                            <td> {{ form_errors((f.dateF)) }} </td>
                                        </tr>

                                        <tr>
                                            <td> {{ form_label(f.personnel,"Personnel")}} </td>
                                            <td> {{ form_widget((f.personnel)) }} </td>
                                            <td> {{ form_errors((f.personnel)) }} </td>
                                        </tr>
                                        <tr>
                                            <td> {{ form_label(f.image,"Image")}} </td>
                                            <td> {{ form_widget((f.image)) }} </td>
                                            <td> {{ form_errors((f.image)) }} </td>
                                        </tr>



                                        {{ form_end(f) }}




                                    </table>
        </center>
    </div>
    </div>
    </div>
    </div>
    </section>


    </center>
    </div>
{% endblock %}