{% extends 'base.html.twig' %}

{% block title %}Modifier Fournisseurs{% endblock %}
{% block body %}
    <div class="fox">
        <center>
            {{ form_start(f, {'attr': {'novalidate':'novalidate'}}) }}
            <table>
                <tr>
                    <td>{{ form_label(f.id,"ID") }}</td>
                    <td>{{ form_widget(f.id) }}</td>
                    <td>{{ form_errors(f.id) }}</td>
                </tr>
                <tr>
                    <td>{{ form_label(f.nomF,"Nom") }}</td>
                    <td>{{ form_widget(f.nomF) }}</td>
                    <td>{{ form_errors(f.nomF) }}</td>
                </tr>
                <tr>
                    <td>{{ form_label(f.prenomF,"Prénom") }}</td>
                    <td>{{ form_widget(f.prenomF) }}</td>
                    <td>{{ form_errors(f.prenomF) }}</td>
                </tr>
                <tr>
                    <td>{{ form_label(f.telF,"Téléphone") }}</td>
                    <td>{{ form_widget(f.telF) }}</td>
                    <td>{{ form_errors(f.telF) }}</td>
                </tr>
                <tr>
                    <td>{{ form_label(f.emailF,"Email") }}</td>
                    <td>{{ form_widget(f.emailF) }}</td>
                    <td>{{ form_errors(f.emailF) }}</td>
                </tr>
                <tr>
                    <td>{{ form_label(f.adresse,"Adresse") }}</td>
                    <td>{{ form_widget(f.adresse) }}</td>
                    <td>{{ form_errors(f.adresse) }}</td>
                </tr>
                <tr>
                    <td>{{ form_label(f.ribF,"RIB") }}</td>
                    <td>{{ form_widget(f.ribF) }}</td>
                    <td>{{ form_errors(f.ribF) }}</td>
                </tr>

            </table>
            {{ form_end(f) }}
        </center>
    </div>
{% endblock %}